.container {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  height: 960px;
  border: 2px solid black;
  margin: 20px auto;
}

.grid-square {
  border: 1px solid #ccc;
  box-sizing: border-box;
}


button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#colorPicker {
  display: none;
}